.dice-.container {
    width: 25rem;
    height: 25rem;
    perspective: 1000px;
}

.dice-.cube {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: relative;
}

.dice-.face {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(hsl(210, 100%, 80%), hsl(210, 100%, 95%));
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.dice-.top {
    transform: rotateX(90deg) translateZ(12.5rem);
}

.dice-.bottom {
    transform: rotateX(-90deg) translateZ(12.5rem);
}

.dice-.right {
    transform: rotateY(90deg) translateZ(12.5rem);
}

.dice-.left {
    transform: rotateY(-90deg) translateZ(12.5rem);
}

.dice-.front {
    transform: rotateX(0deg) translateZ(12.5rem);
}

.dice-.back {
    transform: rotateX(-180deg) translateZ(12.5rem);
}

@keyframes spin {
    from {
        transform: rotateY(360deg) rotateX(360deg);
    }

    to {
        transform: rotateY(0deg) rotateX(0deg);
    }
}

/* THIS IS STILL GOOD

@keyframes spin {
    from {
        transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
    }

    to {
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    }
}

/**/

.dice-.cube {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: relative;
    animation: spin 1.5s infinite linear;
}

.dice-.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    width: auto;
    margin: 3%;
}

.dice-.circle {
    padding: 10%;
    border-radius: 50%;
    background: radial-gradient(hsl(195, 50%, 75%), hsl(206, 100%, 50%));
}

.dice-.invisible {
    background: none;
    border: none;
    box-shadow: none;
}