* {
    transition: all 0.3s;
    max-width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: beige;
    color: hsl(23, 62%, 23%);
}

header {
    position: sticky;
    background-color: beige;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    width: 100%;
}

.hidden {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    border-width: 0;
}