/*
 *
 *Pulizia Foglio
 *
 */


html {
    min-height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

div {
    padding: 1%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

p {
    margin: 0.5em;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 100%;
}

textarea {
    resize: none;
}

.input {
    border: solid 3px lightgray;
    border-radius: 5px;
    width: Calc(100% - 4rem);
    padding: 0.6rem 2rem 0.6rem 2rem;
}

/*
 *
 * definizione font
 *
 */

/* star wars style */
@font-face {
    font-family: Star Wars;
    src: url('resources/installations/star_jedi/starjedi/Starjedi.ttf');
}

@font-face {
    font-family: Star Wars Bordered;
    src: url('resources/installations/star_jedi/starjedi/Starjhol.ttf');
}

/* disney style */
@font-face {
    font-family: Walt Disney;
    src: url('resources/installations/waltograph/waltographUI.ttf');
}

@font-face {
    font-family: simple Walt Disney;
    src: url('resources/installations/waltograph/waltograph42.otf');
}

/* good style */
@font-face {
    font-family: Bubble;
    src: url('resources/installations/gummy_bears/Gummy\ Bears.ttf');
}
@font-face {
    font-family: Signature;
    src: url("resources/installations/thesignature/Thesignature.ttf");
}

/*
 *
 * personalizzazione barra scorrimento
 *
 */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*
 *
 * styling colorways class
 *
 */

.attention{
    color: hsl(0, 100%, 50%);
}

.warning{
    color: hsl(39, 100%, 50%);
}

.good{
    color: hsl(120, 100%, 50%);
}

.info{
    color: hsl(210, 100%, 50%);
}