/********************************************
 * z-index map                              *
 ********************************************
 * 0    default                             *
 *                                          *
 * 1    film-popup                          *
 *                                          *
 * 10   navigation bar                      *
 *                                          *
 * 11   popup                               *
 ********************************************
*/
* {
    font-family: Bubble;
    text-overflow: ellipsis;
}

body {
    background-image: linear-gradient(to right bottom, lightblue, lightgreen);
}

div.navigationbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    height: auto;
    background-color: rgb(0, 170, 170);
    z-index: 10;
}

div.logo {
    font-size: 20px;
    padding: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

div.logo>img {
    width: 4em;
}

div.logo>p {
    font-family: Star Wars;
}

div.card {
    width: 12em;
    height: 30em;
    box-shadow: 0px 0px 5px black;
    border-radius: 1em;
    padding: unset;
    margin: 1em;
    transition: all 1s;
}

div.card>.anteprima {
    cursor: none;
}

div.card {
    cursor: help;
}

.button:hover {
    box-shadow: 0px 0px 10px 5px black;
    transition: all 0.5s;
}


div.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.popup {
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: hsla(0deg, 0%, 0%, 0.8);
    padding: 10em 10% 4em 10%;
    position: fixed;
    z-index: 11;
    display: flex;
}

.popup>.container {
    transition: opacity 1s;
    background-color: white;
    height: -webkit-fill-available;
    overflow-x: auto;
    border-radius: 1rem;
    margin: 1%;
    box-shadow: 0px 0px 5px white;
}

.popup>.container>.close {
    width: 2em;
    height: 2em;
    margin-right: 0px;
    margin-left: auto;
    top: 0;
    background-color: white;
    overflow: hidden;
    position: sticky;
    border-radius: 50%;
    transition: all 0.5s;
}

.popup>.container>.close:hover {
    transform: rotateZ(360deg);
    background-color: grey;
}

div.film-popup {
    z-index: 1;
}

.hlist {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.input-inside {
    position: absolute;
}

.right-attachment {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.left-attachment {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button.push {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    right: -1em;
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.scrollable {
    overflow: unset;
}

/*
 *
 * DROPDOWN STRUCTURE:
 * dropdown
 *  label
 *   text
 *   show button
 *  container
 *   ∑ element[i]
 *
*/

.dropdown {
    border-radius: 1rem;
    border: solid 1px black;
    box-shadow: 0px 0px 5px black;
}

.dropdown>.dropdown-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dropdown-elements {
    transition: "height" 0.75s;
}

.dropdown-elements.hide {
    height: 0px;
    display: none;
}

/*
 *
 * CSSper dado 3d
 *
 */

.dice- {
    overflow: visible;
}


.dice-.container {
    width: 25em;
    height: 25em;
    perspective: 1000px;
}

.dice-.cube {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: relative;
}

.dice-.face {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(hsl(50, 100%, 95%), hsl(50, 100%, 80%));
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.dice-.top {
    transform: rotateX(90deg) translateZ(12.5em);
}

.dice-.bottom {
    transform: rotateX(-90deg) translateZ(12.5em);
}

.dice-.right {
    transform: rotateY(90deg) translateZ(12.5em);
}

.dice-.left {
    transform: rotateY(-90deg) translateZ(12.5em);
}

.dice-.front {
    transform: rotateX(0deg) translateZ(12.5em);
}

.dice-.back {
    transform: rotateX(-180deg) translateZ(12.5em);
}

@keyframes spin {
    from {
        transform: rotateY(360deg) rotateX(360deg);
    }

    to {
        transform: rotateY(0deg) rotateX(0deg);
    }
}

/* THIS IS STILL GOOD  *

@keyframes spin {
    from {
        transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
    }

    to {
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    }
}

/**/

.dice-.cube {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: relative;
    animation: spin 1.5s infinite linear;
}

.dice-.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    width: auto;
    margin: 3%;
}

.dice-.circle {
    padding: 10%;
    border-radius: 50%;
    background: radial-gradient(darkred, black);
}

/*
 *
 * STYLED GENRE LABELS
 *
 */

 .genre-label{
    background-color: white;
 }

 .genre-label > input {
    display: none;
 }


/*
 *
 * PRIORITY STYLES
 *
 */

.hide {
    display: none;
}

.card.cached {
    height: 0px;
}

.card.hcached {
    width: 0px;
}

.dice-.invisible {
    background: none;
    border: none;
    box-shadow: none;
}